<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for post in Posts %}
            <li>{{ post.headline|title }}</li>
            <span>{{ post.pub_date }}</span>
        {% endfor %}
        
        {% if request.user.is_authenticated %}
        autenticado  
        <li>{{ post.pub_date }}</li>

        {% else %}
        not autenticado
        
        {% endif %}

        {{ nevVariable }}
    </ul>
</body>
</html>